<div class="container">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom shadow-sm" [class.red]="svc.darkTeamOn === true">
    <h5 class="my-0 mr-md-auto font-weight-normal" routerLink="">StatesMan</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <!-- <a class="p-2 text-dark" href="#">Features</a>
      <a class="p-2 text-dark" href="#">Enterprise</a>
      <a class="p-2 text-dark" href="#">Support</a> -->
      <a class="p-2 text" href="#" [class.white]="svc.darkTeamOn === true" routerLink="feedback">Feedback</a>
    </nav>
    <a class="btn btn-outline-primary" style="margin-right:1%;" routerLink="registration">Registration</a>
    <a class="btn btn-outline-primary" routerLink="signup">Sign up</a>
  </div>
  
  </div>
  <div class="basket">
    <button type="button" class="btn-basket" routerLink="test">Shopping Cart <img [src]="svc.basketWhite" style="width:30px;height:30px;">{{svc.product}}</button>
  
  </div>


<div class="sidebar-color" style="width:40px; height:40px;" *ngIf="svc.iconMenu;" (click)="colorChoice()" >
  <div class="icon">
    <img [src]="svc.menuImage" style="width:40px; height:40px; position:fixed; left:0.3%;" > 
  </div>
</div>

<div class="sidebar-color" style="width:40px; height:40px;" *ngIf="!svc.iconMenu;" (click)="colorChoiceBack()" >
  <div class="icon">
    <img [src]="svc.underMenuImage" style="width:40px; height:40px; position:fixed; left:0.3%;">
  </div>
</div>

<div *ngIf="svc.showBar" class="showBar">
  <div class="dark-team" style="background:black; border-radius:50%;" *ngIf="svc.changeButton"
   (click)="changeTeam()"
  ></div>
  <div class="dark-team" style="background:black; border-radius:50%;" *ngIf="!svc.changeButton"
  (click)="changeTeamBack()"
  ></div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
<app-footer [class.red]="svc.darkTeamOn === true" style="width:100%;height:50px;display:block;border-top:1px solid grey;background:white;box-shadow:0px 0px 5px 1px grey"></app-footer>


<!-- <router-outlet></router-outlet> -->